/* AuthorCard.css */

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px; /* Adjust margin as needed */
    background-image: linear-gradient(to right, rgb(199, 210, 254), rgb(254, 202, 202), rgb(254, 249, 195));
    color: rgb(0, 0, 0); /* Set text color to black */
}

.card-header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: #c18d9f;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #ad9f9f;
}

.card-footer {
    background-image: linear-gradient(to right, rgb(17, 24, 39), rgb(75, 85, 99));
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 0.9rem;
    color: white; /* Set text color to white */
}
